.tokens-by-goal__rows {
  --rows-columns: minmax(0, 1fr) 2.875rem 5rem 2.75rem;
  --rows-gap: 0.75rem;
  --rows-height: 2.125rem;
}

@media (min-width: 75rem) {
  .tokens-by-goal__rows {
    --rows-columns: minmax(0, 1fr) 2.875rem 1fr 2.75rem;
  }
}
